:root {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Whitney Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Whitney Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Whitney Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --header-bg: #255ee9;
    --h-container-bg: #daa520;
    --jumbotron-bg: #00008b;
    --invite-only-bg: #fff;
    --community-bg: #f6f6f6;
    --fandom-bg: #fff;
    --technology-bg: #f6f6f6;
    --sections-primary: #ee82ee;
    --sections-big: #1e90ff;
    --sections-small: #ffc0cb;
    --sections-secondary: #228b22;
    --footer-bg: #23272a;
    --footer-aside: #f08080;
    --footer-columns: #20b2aa;
    --footer-signup: #7fffd4;
    --footer-buttons: #e4a3ac;
    --cta-btn: #8ea1e1;
    --footer-primary: #7289da;
}

/* Import Whitney font family */
@import url('https://fonts.cdnfonts.com/css/whitney-2');

body {
    display: flex;
    flex-direction: column;
}

/* Debug */
.debug {

    * {
        border: 1px dotted black;
    }
/* 
    header {
        height: 50px;
    }

    #h-container {
        height: 30px;
        font-size: 0.7rem;
    }

    #h-logo {
        padding: 3px;
    }

    #navbar {
        .nav-link {
            margin: 3px;
        }
    }

    #h-login {
        padding: 3px;
    }

    .section-content {
        height: 280px;
    }

    #jumbotron {
        background-color: var(--jumbotron-bg);
        height: 350px;

        #jumbotron-content {
            height: 280px;
            background-color: var(--sections-primary);
        }
    }

    #invite-only {
        background-color: var(--invite-only-bg);
        height: 350px;

        #invite-only-content {}
    }

    #community {
        background-color: var(--community-bg);
        height: 350px;

        #community-content {
            flex-direction: row-reverse;
        }
    }

    #fandom {
        background-color: var(--fandom-bg);
        height: 350px;

        #fandom-content {}
    }

    #technology {
        background-color: var(--technology-bg);
        height: 600px;

        #technology-content {
            height: 550px;
            background-color: var(--sections-secondary);
        }
    }

    .big-content {
        background-color: var(--sections-big);
    }

    .small-content {
        background-color: var(--sections-small);
    }

    footer {
        background-color: var(--footer-bg);
        height: 470px;

        #footer-nav {
            height: 400px;
            padding-bottom: 10px;

            #footer-aside {
                background-color: var(--footer-aside);
                height: 370px;
                width: 20%;
            }

            #footer-columns {
                background-color: var(--footer-columns);
                height: 370px;
            }
        }

        #footer-signup {

            height: 70px;
            border-top: 2px solid var(--technology-bg);

            #footer-signup-container {
                height: 45px;
                background-color: var(--footer-signup);
            }
        }
    }

    .btn-footer {
        background-color: var(--footer-buttons);
        height: 20px;
        font-size: 0.8rem;
    } */
}

/* Header */
header {
    background-color: var(--header-bg);
}

#h-container {
    height: 30px;
    font-size: 0.8rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin: 7px;
}

#h-logo {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 7px;
}

#navbar {
    width: 60%;
    flex-direction: row;
    font-weight: 700;

    .nav-link {
        
        color: #fff;
        text-decoration: none;
        margin: 15px;
    }
}

#h-login {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;

    #btn-login {
        border-radius: 30px;
        border: 0px;
        padding: 8px 15px;
    }
}



/* Flex center utility class */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section utility classes */
.section-content {
    width: 70%;
    display: flex;
}

.section-title {
    font-family: 'Whitney Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 1000;
    margin: 20px;
}

.section-text {
    font-size: 1rem;
    font-weight: 700;
    margin: 20px;
}

.margin-section {
    margin: 100px 50px;
}

/* Sections in main */
#jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;

    #jumbotron-content {
        background-image: none;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 80px;

        #jumbotron-title {
            color: #fff;
            margin: 50px 10px 10px 10px;
            font-family: 'Whitney Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 3rem;
            font-weight: 1000;
        }

        #jumbotron-text {
            color: #fff;
            margin: 30px 0;
            font-weight: 700;
            line-height: 1.8;
        }

        .btns-layout {
            width: auto;
        }
    }
}

.jumbotron-btn {
    border-radius: 30px;
    border: 0px;
    padding: 12px 20px;
    margin:  0px 15px 10px 15px;
    font-weight: 500;
}

.btn-pressed {
    background-color: #23272a;
    color: #fff;
}

.cta-btn {
    border-radius: 30px;
    border: 0px;
    padding: 12px 20px;
    margin:  0px 15px 10px 15px;
    font-weight: 500;
    color: #fff;
    background-color: var(--cta-btn);
}

.bg-wave {
    width: 100%;
    height: 50px;
    background-image: url(../img/wave.svg);
}

.bg-wave2 {
    width: 100%;
    height: 50px;
    background-image: url(../img/wave.svg);
    transform: scaleY(-1);
}

/* Normal sections */
#invite-only {
    background-color: var(--invite-only-bg);

    #invite-only-content {

        #invite-only-bg {
            background-image: url(../img/item1.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

#community {
    background-color: var(--community-bg);

    #community-content {
        flex-direction: row-reverse;

        #community-bg {
            background-image: url(../img/item2.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

#fandom {
    background-color: var(--fandom-bg);

    #fandom-content {

        #fandom-bg {
            background-image: url(../img/item3.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

#technology {
    background-color: var(--technology-bg);
    text-align: center;

    #technology-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        #technology-bg {
            background-image: url(../img/item4-big.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 500px;
        }

        #technology-cta {
            background-image: url(../img/stars.svg);
            background-size: contain;
            background-repeat: no-repeat;
            padding: 40px;
        }
    }
}

/* Content utility classes */
.big-content {
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
}

.small-content {
    width: 40%;
    height: 100%;
    text-align: justify;
}

/* Footer */
footer { 
    font-family: 'Whitney Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--footer-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 1000;

    #footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        padding: 50px 0;

        #footer-aside {
            align-self: start;
            width: 38%;
            display: flex;
            flex-direction: column;

            #lang {
                display: flex;

                #lang-flag {
                    width: 30px;
                    margin-right: 5px;
                }
            }

            #social-links {
                display: flex;

                img {
                    width: 20px;
                    margin: 10px 10px 0 0;
                }
            }
        }

        #footer-columns {
            width: 62%;
            display: flex;
            flex-direction: row;
            line-height: 1.7;

            .nav-column {
                width: 25%;
                font-size: 0.7rem;
            }

            .footer-col-head {
                color: var(--footer-primary);
            }
        }
    }

    #footer-signup {

        width: 70%;
        display: flex;
        justify-content: space-between;
        border-top: 2px solid var(--footer-primary);
        padding: 20px 0;
        
        #btn-footer {
            border-radius: 30px;
            border: 0px;
            padding: 3px 10px;
            font-size: 0.7rem;
            font-weight: 500;
            color: #fff;
            background-color: var(--cta-btn);
        }
    }
}

.footer-title {
    font-size: 1.7rem;
    font-weight: 1000;
    color: var(--footer-primary);
    margin: 0 0 15px 0;
}