:root {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Whitney Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Whitney Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Whitney Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --header-bg: #255ee9;
    --h-container-bg: #daa520;
    --jumbotron-bg: #00008b;
    --invite-only-bg: #fff;
    --community-bg: #f6f6f6;
    --fandom-bg: #fff;
    --technology-bg: #f6f6f6;
    --sections-primary: #ee82ee;
    --sections-big: #1e90ff;
    --sections-small: #ffc0cb;
    --sections-secondary: #228b22;
    --footer-bg: #23272a;
    --footer-aside: #f08080;
    --footer-columns: #20b2aa;
    --footer-signup: #7fffd4;
    --footer-buttons: #e4a3ac;
}

/* Import Whitney font family */
@import url('https://fonts.cdnfonts.com/css/whitney-2');

body {
    display: flex;
    flex-direction: column;
}

/* Debug */
.debug {

    * {
        border: 1px dotted black;
    }
/* 
    header {
        height: 50px;
    }

    #h-container {
        height: 30px;
        font-size: 0.7rem;
    }

    #h-logo {
        padding: 3px;
    }

    #navbar {
        .nav-link {
            margin: 3px;
        }
    }

    #h-login {
        padding: 3px;
    }

    .section-content {
        height: 280px;
    }

    #jumbotron {
        background-color: var(--jumbotron-bg);
        height: 350px;

        #jumbotron-content {
            height: 280px;
            background-color: var(--sections-primary);
        }
    }

    #invite-only {
        background-color: var(--invite-only-bg);
        height: 350px;

        #invite-only-content {}
    }

    #community {
        background-color: var(--community-bg);
        height: 350px;

        #community-content {
            flex-direction: row-reverse;
        }
    }

    #fandom {
        background-color: var(--fandom-bg);
        height: 350px;

        #fandom-content {}
    }

    #technology {
        background-color: var(--technology-bg);
        height: 600px;

        #technology-content {
            height: 550px;
            background-color: var(--sections-secondary);
        }
    }

    .big-content {
        background-color: var(--sections-big);
    }

    .small-content {
        background-color: var(--sections-small);
    }

    footer {
        background-color: var(--footer-bg);
        height: 470px;

        #footer-nav {
            height: 400px;
            padding-bottom: 10px;

            #footer-aside {
                background-color: var(--footer-aside);
                height: 370px;
                width: 20%;
            }

            #footer-columns {
                background-color: var(--footer-columns);
                height: 370px;
            }
        }

        #footer-signup {

            height: 70px;
            border-top: 2px solid var(--technology-bg);

            #footer-signup-container {
                height: 45px;
                background-color: var(--footer-signup);
            }
        }
    }

    .btn-footer {
        background-color: var(--footer-buttons);
        height: 20px;
        font-size: 0.8rem;
    } */
}

/* Header */
header {
    background-color: var(--header-bg);
}

#h-container {
    height: 30px;
    font-size: 0.8rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin: 7px;
}

#h-logo {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 7px;
}

#navbar {
    width: 60%;
    flex-direction: row;
    font-weight: 700;

    .nav-link {
        
        color: #fff;
        text-decoration: none;
        margin: 15px;
    }
}

#h-login {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;

    #btn-login {
        border-radius: 30px;
        border: 0px;
        padding: 8px 15px;
    }
}



/* Flex center utility class */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section utility classes */
.section-content {
    width: 70%;
    display: flex;
}

.section-title {
    font-family: 'Whitney Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 1000;
    margin: 20px;
}

.section-text {
    font-size: 1rem;
    font-weight: 700;
    margin: 20px;
}

.margin-section {
    margin: 50px;
}

/* Sections in main */
#jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;

    #jumbotron-content {
        background-image: none;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 80px;

        #jumbotron-title {
            color: #fff;
            margin: 50px 10px 10px 10px;
            font-family: 'Whitney Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 3rem;
            font-weight: 1000;
        }

        #jumbotron-text {
            color: #fff;
            margin: 30px 0;
            font-weight: 700;
            line-height: 1.8;
        }

        #jumbotron-btns {

            .jumbotron-btn {
                border-radius: 30px;
                border: 0px;
                padding: 12px 20px;
                margin:  0px 15px 10px 15px;
                font-weight: 500;
            }
        }
    }
}

.btn-pressed {
    background-color: #23272a;
    color: #fff;
}

/* Normal sections */
#invite-only {
    background-color: var(--invite-only-bg);

    #invite-only-content {

        #invite-only-bg {
            background-image: url(../img/item1.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

#community {
    background-color: var(--community-bg);

    #community-content {
        flex-direction: row-reverse;

        #community-bg {
            background-image: url(../img/item2.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

#fandom {
    background-color: var(--fandom-bg);

    #fandom-content {

        #fandom-bg {
            background-image: url(../img/item3.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

#technology {
    background-color: var(--technology-bg);

    #technology-content {
        
        #technology-bg {
            background-image: url(../img/item4.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

/* Content utility classes */
.big-content {
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height: ;
}

.small-content {
    background-color: ;
    width: 30%;
    height: 100%;
}

/* Footer */
footer {
    background-color: ;
    height: px;
    display: flex;
    flex-direction: column;

    #footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: px;
        padding-bottom: px;

        #footer-aside {
            background-color: ;
            height: px;
            width: 20%;
        }

        #footer-columns {
            background-color: ;
            height: px;
            width: 40%;
            display: flex;
            flex-direction: row;

            .nav-column {
                width: 25%;
            }
        }
    }

    #footer-signup {

        height: px;
        display: flex;
        justify-content: center;
        align-items: end;
        border-top: 2px solid var(--technology-bg);

        #footer-signup-container {
            width: 60%;
            height: px;
            display: flex;
            justify-content: space-between;
            background-color: ;
            align-items: center;
        }
    }
}

.btn-footer {
    background-color: ;
    display: flex;
    align-items: center;
    height: px;
    font-size: rem;
}